
body{
    margin: 0;
    background:url(images/1620271457_59-phonoteka_org-p-fon-nebo-estetika-60.jpg);
}
main{
    height:100vh;
}
.audio{
    display:flex;
    flex-direction: column;
    height: 80vh;
}




























